{
  "tabWidth": 2,
  "singleQuote": true,
  "semi": false,
  "trailingComma": "all",
  "overrides": [
    {
      "files": "src/**/*.axml",
      "options": {
        "parser": "html"
      }
    },
    {
      "files": "src/**/*.wxml",
      "options": {
        "parser": "html"
      }
    }
  ]
}
